* {
    font-family: "manrope", serif;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.logo {
        backdrop-filter: blur(1px); 
      }
#buttonsRestaurant {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px; 
    }

    .restaurant-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
    
    .restaurant-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; 
    }
    
@media screen and (min-width: 700px) {
    #buttonsRestaurant {
        display: flex;
        flex-direction: row;
        align-items: center; 
        gap: 10px; 
    }
} 