*{
    font-family: "Manrope", serif;
}

.card-image{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
}

.custom-swal-popup {
    width: 70vw !important;
    height: 65vh;
    min-width: 800px;
    min-height: 550px;
    display: flex;
    align-items: center;   
    border-radius: 30px; 
}

.main-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

.room-image{
    width: 420px;
    height: 420px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

#customConfirmButton{
    border-radius: 40px;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.sweetalert-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
}

.price{
    text-align: left;
}

.description{
    text-align: justify;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.title{
    min-height: 20px;
    min-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.description-container{
    background-color: #F4F4F4;
    padding: 15px;
    min-height: 300px !important;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

/* Escalado dinámico basado en el tamaño de la pantalla */
@media (min-width: 1400px) { 
    .custom-swal-popup {
        
        min-height: 700px;
        
    }
    
    .room-image {
        width: 600px; 
        height: 600px; 
    }
    .title {
        font-size: 31px; 
    }
    .description {
        font-size: 21.6px; 
    }
    .description-container {
        max-width: 540px; 
        min-height: 420px !important; 
    }
    #customConfirmButton {
        width: 168px; 
        height: 60px; 
        font-size: 21.6px; 
    }
    
}

@media (max-width: 1000px) {
    .custom-swal-popup {
        min-height: 500px;
        height: 500px;
        
    }
    .room-image {
        width: 350px;
        height: 350px;
    }
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
    .description-container {
        max-width: 350px;
        min-height: 280px !important;
    }
    #customConfirmButton {
        width: 110px;
        height: 38px;
        font-size: 16px;
    }
}
