.search-container {
    background-color: #f4f4f4;
    padding: 30px;
    padding-top: 20px;
    
    gap: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-button{
    margin-top: 40px;
    
    justify-content: center;
    align-items: center;
}

@media (max-width:899px) {
    .search-container {
        flex-direction: column;
    }

    .search-button{
        margin: 0;
        
    }
}

