.search-container {
    background-color: #f4f4f4;
    padding: 40px;
    padding-top: 20px;
    
    width: 800px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

#search-button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

