.email-button {
    background-color: black;
    color: #C99F4B;
    border: 3px solid #C99F4B !important;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
    text-transform: none;
    transition: background-color 0.3s ease;
  }
  
  .email-button:hover {
    background-color: #333;
  }
  