.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; 
  z-index: 99999;
  visibility: hidden;
}

.overlay.visible {
  opacity: 0.4;
  background: rgba(0, 0, 0, 0.4);
  visibility: visible;
}


.overlay:not(.visible) {
  opacity: 0;
  visibility: hidden;
}


.contact-slider {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 100000;
  padding: 10px;
  width: 100%;
}

.contact-slider.open {
  right: 0;
}

.contact-slider-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

.contact-title{
  position: fixed;
  top: 90px; 
  gap: -5px;
}

.email-btn{
  position: fixed;
  top: 278px; 
  gap: -5px;
  width: 90%;
}

.phone-section{
  position: fixed;
  top: 500px; 
  font-size: small;
}

a{
  color: black;
  text-decoration: none;
}

.close-btn {
  margin-top: -5px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  align-self: flex-end;
}


.media-icons{
  position: fixed;
  top: 770px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  mix-blend-mode: multiply;
}





@media screen and (min-width: 1024px) {
  .contact-slider {
    width: 50%;
  }

  .contact-slider-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
  }

  .contact-title{
    position: fixed;
    top: 60px; 
  }
  
  .email-btn{
    position: fixed;
    top: 210px; 
    width: 50%;
  }
  
  .phone-section{
    position: fixed;
    top: 390px; 
    gap: -5px;
    font-size: small;
  }
  
  .close-btn {
    margin-top: -5px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .media-icons{
    position: fixed;
    top: 580px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    mix-blend-mode: multiply;
  }
}


