.login-logo{
    max-width: 20vw;
    height: auto;
    position: relative;
    margin-top: 5vh;
}

.login-logo-container{
    display: flex;
    justify-content: center;
}

.register-primary-container{
    margin-top: 10vh;
}

.register-container, .login-container{
    background-color: #C99F4B;
    max-width: 900px;
}

.label-register-fields, .label-login-fields{
    font-size: clamp(14px, 2.5vw, 20px);
}

.register-input{
    font-size: clamp(14px, 2.5vw, 20px);
}

.register-title{
    font-size: clamp(18px, 7vw, 50px);
    padding: 0 1.4vw;
}

.login-title{
    font-size: clamp(18px, 6vw, 45px);
    padding: 0 1.4vw;
}

.register-form-field, .login-form-field{
    padding: 0 2vw;
}

.swal2-container {
    z-index: 9999;
}
.login-anchor, .register-anchor{
    text-decoration: underline;
    color: #346bda;
}

.login-anchor:hover, .register-anchor:hover{
    color: #698aca;
    cursor: pointer;
}

.login-to-register, .register-to-login{
    font-size: clamp(11px, 2vw, 16px);
}

.login-logo{
    min-width: 12vw;
    max-width: 14vw;
}

@media screen and (max-width: 568px){
    .login-logo{
        max-width: 30vw;
    }
    
}

@media screen and (min-width: 569px) and (max-width: 768px){
    .login-logo{
        max-width: 25vw;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1068px){
    .login-logo{
        max-width: 20vw;
    }
    
}

@media screen and (min-width: 1069px) and (max-width: 1268px){
    .login-logo{
        max-width: 16vw;
    }
    
}